
// Variables
$font-primary: 'Barlow Semi Condensed', sans-serif;

// fonts-color:
$color-primary__white: rgb(255, 255, 255);
      
$color__gray-100:rgb(236, 242, 248);
$color__gray-200:rgba(255, 255, 255, 0.70);
$color__gray-300:rgba(207, 207, 207, 0.70);
$color__gray-400:rgba(255, 255, 255, 0.50); 
$color__gray-500:rgba(72, 85, 106, 0.70);
$color__gray-600:rgba(72, 85, 106, 0.50);
$color__gray-700:rgb(72, 85, 106);
      
// background-color:
$base-bc__gray-100: rgb(236, 242, 248);
$bc__white: rgb(255, 255, 255);
$bc__gray-700: rgb(72, 85, 106);
$bc__black-dark: rgb(25, 33, 46);
$bc__violet-light: rgb(167, 117, 241);
$bc__violet-dark:rgb(117, 65, 200);

*, 
*::after, 
*::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 81.25%; // 13px
  font-family: $font-primary;
  background-color: $base-bc__gray-100;
  text-rendering: optimizeSpeed;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.clearfix::after { 
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.stop__flickers {
  // -webkit-transform: translateZ(0);
  // -moz-transform: translateZ(0);
  // -ms-transform: translateZ(0);
  // -o-transform: translateZ(0);
  // transform: translateZ(0);
  // -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.component__wrapper {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__container {
  display: flex;
  flex-direction: column;
  margin: 3.5rem 1.5rem;
  background-color: $base-bc__gray-100;
}

.cards__wrapperSections-one, 
.cards__wrapperSections-two {
  display: flex;
  flex-direction: column;
}

.footer__attribution {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0 1rem 0;
  background-color: $bc__black-dark;
  border-top: 2px solid $bc__violet-light;

  &-text {
    color: $color-primary__white;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  &-link {
    display: inline-block;
    padding-top: 0.5em;
    text-decoration: none;
    color: $color__gray-200;
  }
}

.card {
  padding: 1.4rem 1.4rem;
  border-radius: 0.5rem;
  background-color: $base-bc__gray-100;
  transition: transform 1s ease;
  overflow: hidden;
  position: relative;

    &__header {
      line-height: 17px;
      letter-spacing: 0.5px;
    
      &-img {
        float: left;
        display: block;
        height: 2.3rem;
        margin-right: 1.2rem;
        border-radius: 50%;
      }
    
      &-person {
        padding-top: 0.3rem;
        font-weight: 500;
        font-size: 1rem; 
      }
    
      &-graduate {
        font-size: 0.7rem;
        font-weight: 500;
      }
  }

    &__description {
      padding-top: .4rem;

      &-heading {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.5rem;
      }

      &-blockquote {
        font-style: normal;
        font-weight: 500;
        line-height: 1.2rem;
        padding-top: 1.5rem;
      }
    }

    &-1 {
      background: url('../images/bg-pattern-quotation.svg') $bc__violet-dark no-repeat;
      background-position: 80% top;
      background-size: 8rem 8.2rem;
    }
    
    &-2 {
      background-color: $bc__gray-700;
    }
    
    &-3 {
      background-color: $bc__white;
    }
    
    &-4 {
      background-color: $bc__black-dark;
    }
    
    &-5 {
      color: $color__gray-600;
      background-color: $bc__white;
    }

    // box shadow sily smooth performance on hover
    &:hover {
      transform: translateY(-0.35em) scale(1.02);
    }
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      box-shadow: 0 .5rem 3rem -.25em rgba(35, 21, 21, 0.30);
      transition: opacity 1s ease;
    }
    
    &:hover::after {
      opacity: 1;
    }
}

/*
> * + * select every element that is a sibling of another 
/ adjacent sibling of something else - set the margin between boxes.
*/

.cards__container > * + *  {
  margin: 1.5rem 0 0 0;
}

.cards__wrapperSections > * + *  {
  margin: 1.5rem 0 0 0;
}

.cards__wrapperSections-one > * + *  {
  margin: 1.5rem 0 0 0;
}

.cards__wrapperSections-two > * + *  {
  margin: 1.5rem 0 0 0;
}

// set colors
.card-1 .card__header-img,
.card-4 .card__header-img {
  border: 2px solid $bc__violet-light;
}

.card-1 .card__header-person, 
.card-2 .card__header-person,
.card-4 .card__header-person {
  color: $color-primary__white;
}

.card-1 .card__header-graduate,
.card-2 .card__header-graduate,
.card-4 .card__header-graduate{
  color: $color__gray-400;
}

.card-3 .card__header-person,
.card-5 .card__header-person {
  color: $color__gray-700; 
}

.card-3 .card__header-graduate,
.card-5 .card__header-graduate {
  color: $color__gray-600;
}

.card-1 .card__description-heading,
.card-2 .card__description-heading {
  color: $color-primary__white;
}

.card-4 .card__description-heading {
  color: $color__gray-100;
}

.card-3 .card__description-heading,
.card-5 .card__description-heading {
  color: $color__gray-700;
}

.card-1 .card__description-blockquote{
  color: $color__gray-300;
}

.card-2 .card__description-blockquote,
.card-4 .card__description-blockquote{
  color: $color__gray-200;
}

.card-3 .card__description-blockquote,
.card-5 .card__description-blockquote{
  color: $color__gray-500;
}


@media (min-width: 767px) {
  .cards__wrapperSections-one, 
  .cards__wrapperSections-two {
    flex-direction: row;
   }

  .cards__wrapperSections-one > * + * {
     margin: 0 0 0 1.5rem;
   }

   .cards__wrapperSections-two  > * + *  {
     margin: 0 0 0 1.5rem;
   }

   .card-1, .card-4 {
     flex: 2;
   }

   .card-2, .card-3 {
     flex: 1;
   }
 }
 
 @media (min-width: 1024px) {
  .component__wrapper {
    position: relative;
  }

  .footer__attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .cards__container {
    flex-direction: row;
  }

  .cards__wrapperSections {
    flex: 3;
  }

  .last__section {
    flex: 1;
    margin: 0 0 0 1.5rem;
  }

  .card-5 {
    height: 100%;
  }
}
