
// Variables
$font-primary: 'Barlow Semi Condensed', sans-serif;

$primary__white: rgb(255, 255, 255);
      
$gray-100:rgb(236, 242, 248);
$gray-200:rgba(255, 255, 255, 0.70);
$gray-300:rgba(207, 207, 207, 0.70);
$gray-400:rgba(255, 255, 255, 0.50); 
$gray-500:rgba(72, 85, 106, 0.70);
$gray-600:rgba(72, 85, 106, 0.50);
$gray-700:rgb(72, 85, 106);
$black-dark: rgb(25, 33, 46);
$violet-light: rgb(167, 117, 241);
$violet-dark:rgb(117, 65, 200);

*, 
*::after, 
*::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 81.25%; // 13px
  font-family: $font-primary;
  background-color: $gray-100;
  text-rendering: optimizeSpeed;
  position: relative;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.clearfix::after { 
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.main__wrapper {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.cards__wrapper {
  display: flex;
  flex-direction: column;
  margin: 3.5rem 1.5rem;
  background-color: $gray-100;
}

.cards__wrapper-one-two,
.cards__wrapper-three-four {
  display: flex;
  flex-direction: column;
}

.footer__attribution {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0 1rem 0;
  background-color: $black-dark;
  border-top: 2px solid $violet-light;

  &-text {
    color: $primary__white;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  &-link {
    display: inline-block;
    padding-top: 0.5em;
    text-decoration: none;
    color: $gray-200;
  }
}

.card {
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: $gray-100;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;

    &__header {
      letter-spacing: 0.5px;
      
      &-avatar {
        height: 2.5rem;
        float: left;
        margin-right: 1.5rem;
      
        img {
          height: 100%;
          border-radius: 50%;
        }
      }
    
      &-person {
        font-weight: 500;
        font-size: 0.9rem;
      }
    
      &-graduate {
        padding: 0.40rem 0 0.43rem 0;
        font-size: 0.7rem;
        font-weight: 500;
      }
  }

    &__description {
      margin-top: 0.3rem;
      padding-top: 1rem;
      backface-visibility: hidden;

      &-heading {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
      }

      &-blockquote {
        font-style: normal;
        font-weight: 500;
        line-height: 1.2rem;
        padding-top: 1.5rem;
      }
    }

    &-1 {
      background: url('../images/bg-pattern-quotation.svg') $violet-dark no-repeat;
      background-position: 80% top;
      background-size: 8rem 8.2rem;
    }
    
    &-2 {
      background-color: $gray-700;
    }
    
    &-3 {
      background-color: $primary__white;
    }
    
    &-4 {
      background-color: $black-dark;
    }
    
    &-5 {
      color: $gray-600;
      background-color: $primary__white;
    }
}

/*
> * + * select every element that is a sibling of another 
/ adjacent sibling of something else - set the margin between boxes (gaps).
*/


.cards__wrapper > * + *  {
  margin: 1.5rem 0 0 0;
}

.cards__wrapper-fourCards > * + *  {
  margin: 1.5rem 0 0 0;
}

.cards__wrapper-one-two > * + *  {
  margin: 1.5rem 0 0 0;
}

.cards__wrapper-three-four > * + *  {
  margin: 1.5rem 0 0 0;
}

// set colors
.card-1 .card__header-avatar img,
.card-4 .card__header-avatar img {
  border: 2px solid $violet-light;
}

.card-2 .card__header-avatar img {
  border: 2px solid $primary__white;
}

.card-3 .card__header-avatar img,
.card-5 .card__header-avatar img {
  border: 2px solid $gray-500
}

.card-1 .card__header-person, 
.card-2 .card__header-person,
.card-4 .card__header-person,
.card-1 .card__description-heading,
.card-2 .card__description-heading {
  color: $primary__white;
}

.card-1 .card__header-graduate,
.card-2 .card__header-graduate,
.card-4 .card__header-graduate{
  color: $gray-400;
}

.card-3 .card__header-person,
.card-5 .card__header-person,
.card-3 .card__description-heading,
.card-5 .card__description-heading  {
  color: $gray-700; 
}

.card-3 .card__header-graduate,
.card-5 .card__header-graduate {
  color: $gray-600;
}

.card-4 .card__description-heading {
  color: $gray-100;
}

.card-1 .card__description-blockquote{
  color: $gray-300;
}

.card-2 .card__description-blockquote,
.card-4 .card__description-blockquote{
  color: $gray-200;
}

.card-3 .card__description-blockquote,
.card-5 .card__description-blockquote{
  color: $gray-500;
}

@media (min-width: 767px) {
  .main__wrapper {
    align-items: center;
    flex-direction: center;
  }

  .cards__wrapper-one-two,
  .cards__wrapper-three-four {
    flex-direction: row;
   }

  .cards__wrapper-one-two  > * + * {
    margin: 0 0 0 1.5rem;
  }

  .cards__wrapper-three-four  > * + * {
    margin: 0 0 0 1.5rem;
  }

  .card-1, .card-4 {
    flex: 2;
  }

  .card-2, .card-3 {
    flex: 1;
  }
}
 
 @media (min-width: 1024px) {
  .cards__wrapper {
    flex-direction: row;
  }
  .cards__wrapper-fourCards {
    flex: 3;
  }
  .card_wrapper-lastCard {
    flex: 1;
    margin: 0 0 0 1.5rem;
  }
  .card-5 {
    height: 100%;
  }
}