*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 81.25%;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
  text-rendering: optimizeSpeed;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.clearfix::after {
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.component__wrapper {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3.5rem 1.5rem;
  background-color: #ecf2f8;
}

.cards__wrapperSections-one,
.cards__wrapperSections-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__attribution {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0 1rem 0;
  background-color: #19212e;
  border-top: 2px solid #a775f1;
}

.footer__attribution-text {
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.footer__attribution-link {
  display: inline-block;
  padding-top: 0.5em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.card {
  padding: 1.3rem 1.4rem;
  border-radius: 0.5rem;
  background-color: #ecf2f8;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.card__header {
  letter-spacing: 0.5px;
}

.card__header-avatar {
  height: 2.5rem;
  float: left;
  margin-right: 1.5rem;
}

.card__header-avatar img {
  height: 100%;
  border-radius: 50%;
}

.card__header-person {
  font-weight: 500;
  font-size: 0.9rem;
}

.card__header-graduate {
  padding: 0.40rem 0 0.43rem 0;
  font-size: 0.7rem;
  font-weight: 500;
}

.card__description {
  margin-top: 0.3rem;
  padding-top: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__description-heading {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.card__description-blockquote {
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem;
  padding-top: 1.5rem;
}

.card-1 {
  background: url("../images/bg-pattern-quotation.svg") #7541c8 no-repeat;
  background-position: 80% top;
  background-size: 8rem 8.2rem;
}

.card-2 {
  background-color: #48556a;
}

.card-3 {
  background-color: white;
}

.card-4 {
  background-color: #19212e;
}

.card-5 {
  color: rgba(72, 85, 106, 0.5);
  background-color: white;
}

.card:hover {
  -webkit-transform: translateY(-0.35em) scale(1.02);
          transform: translateY(-0.35em) scale(1.02);
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: 0 0.5rem 3rem -0.25em rgba(35, 21, 21, 0.3);
          box-shadow: 0 0.5rem 3rem -0.25em rgba(35, 21, 21, 0.3);
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.card:hover::after {
  opacity: 1;
}

/*
> * + * select every element that is a sibling of another 
/ adjacent sibling of something else - set the margin between boxes (gaps).
*/
.cards__container > * + * {
  margin: 1.5rem 0 0 0;
}

.cards__wrapperSections > * + * {
  margin: 1.5rem 0 0 0;
}

.cards__wrapperSections-one > * + * {
  margin: 1.5rem 0 0 0;
}

.cards__wrapperSections-two > * + * {
  margin: 1.5rem 0 0 0;
}

.card-1 .card__header-avatar img,
.card-4 .card__header-avatar img {
  border: 2px solid #a775f1;
}

.card-2 .card__header-avatar img {
  border: 2px solid white;
}

.card-3 .card__header-avatar img,
.card-5 .card__header-avatar img {
  border: 2px solid rgba(72, 85, 106, 0.7);
}

.card-1 .card__header-person,
.card-2 .card__header-person,
.card-4 .card__header-person,
.card-1 .card__description-heading,
.card-2 .card__description-heading {
  color: white;
}

.card-1 .card__header-graduate,
.card-2 .card__header-graduate,
.card-4 .card__header-graduate {
  color: rgba(255, 255, 255, 0.5);
}

.card-3 .card__header-person,
.card-5 .card__header-person,
.card-3 .card__description-heading,
.card-5 .card__description-heading {
  color: #48556a;
}

.card-3 .card__header-graduate,
.card-5 .card__header-graduate {
  color: rgba(72, 85, 106, 0.5);
}

.card-4 .card__description-heading {
  color: #ecf2f8;
}

.card-1 .card__description-blockquote {
  color: rgba(207, 207, 207, 0.7);
}

.card-2 .card__description-blockquote,
.card-4 .card__description-blockquote {
  color: rgba(255, 255, 255, 0.7);
}

.card-3 .card__description-blockquote,
.card-5 .card__description-blockquote {
  color: rgba(72, 85, 106, 0.7);
}

@media (min-width: 767px) {
  .cards__wrapperSections-one,
  .cards__wrapperSections-two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards__wrapperSections-one > * + * {
    margin: 0 0 0 1.5rem;
  }
  .cards__wrapperSections-two > * + * {
    margin: 0 0 0 1.5rem;
  }
  .card-1, .card-4 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .card-2, .card-3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 1024px) {
  .component__wrapper {
    position: relative;
  }
  .footer__attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .cards__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards__wrapperSections {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .last__section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 0 0 1.5rem;
  }
  .card-5 {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */